*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
*.map
/UnrealMatch/UnrealMatch/Resources/Scripts/Calculations.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Exceptions/InvalidOperationException.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Exceptions/NotImplementedException.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Game/Map.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Game/Team.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Game/TeamType.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/HUD/StatusHUD.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/HUD/WeaponHUD.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/HUD/WeaponHUDCell.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Objects/GameObject.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Player.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Point.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Presentation.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Presentation/PlayerColor.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Presentation/PlayerPresentationResource.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Presentation/PresentationResource.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Presentation/WeaponPresentationResource.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Primitives/2DElement.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Primitives/Miltiplier.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Primitives/Offset.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Primitives/Point.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Primitives/Rectangle.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Primitives/ScreenRectangle.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Primitives/Size.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Primitives/TwoDimensionalPrimitive.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Primitives/Vector.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Sizes.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/WeaponHUDCell.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Weapons/Weapon.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Weapons/WeaponInfo.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Weapons/WeaponMode.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Weapons/WeaponsInfo.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Weapons/WeaponType.js
/UnrealMatch/UnrealMatch/Resources/Scripts/GameStart.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Handlers.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Helpers.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Loader.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Menu/Menu.js
/UnrealMatch/UnrealMatch/Resources/Scripts/RefreshCycle.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Rendering.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Variables.js
/UnrealMatch/UnrealMatch/Resources/CSS/GameLayout.css
/UnrealMatch/UnrealMatch/Resources/CSS/GameLayout.min.css
/UnrealMatch/UnrealMatch/Resources/CSS/HUD.css
/UnrealMatch/UnrealMatch/Resources/CSS/HUD.min.css
/UnrealMatch/UnrealMatch/Resources/CSS/Reset.css
/UnrealMatch/UnrealMatch/Resources/CSS/Reset.min.css
/UnrealMatch/UnrealMatch/Resources/CSS/StartPage.css
/UnrealMatch/UnrealMatch/Resources/CSS/StartPage.min.css
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/PlayerPresentation.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Game/GameInfo.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Game/GamePhase.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Network.js
/UnrealMatch/UnrealMatch/node_modules
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/HUD/GameStatsHUD.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/HUD/BasicHUD.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Game/GamePhaseHandler.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Game/WaitingGamePhase.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Game/WaitingGamePhaseHandler.js
/UnrealMatch/UnrealMatch/Resources/Scripts/SoundsManagers/Announcer.js
/UnrealMatch/UnrealMatch/Resources/Scripts/SoundsManagers/PlayerAnnouncerStates.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Game/CountdownGamePhaseHandler.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Game/PlayGamePhaseHandler.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/MessageTypes/PlayStateToSend.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/MessageTypes/StateToSend.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/MessageTypes/WaitingStateToSend.js
/UnrealMatch/UnrealMatch/Resources/Scripts/NetworkProcesses.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Animation/Animation.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Animation/AnimationManager.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Animation/Animations/ASMDBlast.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Animation/Animations/AsmdBlastAnimation.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Weapons/Shot.js
/UnrealMatch/UnrealMatch/Resources/Scripts/SoundsManagers/PlayerSounds.js
/UnrealMatch/UnrealMatch/Resources/Scripts/SoundsManagers/WeaponsSoundBundle.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Animation/Animations/AsmdBigBlastAnimation.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Weapons/Ammunition.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Weapons/PlayerAmmo.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Weapons/PlayerMunitions.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Entities/Weapons/ClientWeaponManager.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Shells/ShellManager.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Shells/BlastManager.js
/UnrealMatch/UnrealMatch/Resources/Scripts/Shells/BlastType.js
