<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*Network*@
    <script src="~/Resources/Scripts/Network.js"></script>

    @*===============================================*@
    @*======================CSS======================*@
    @*===============================================*@
    <link href="~/Resources/CSS/Reset.css" rel="stylesheet" />
    <link href="~/Resources/CSS/Fonts.css" rel="stylesheet" />
    <link href="~/Resources/CSS/HUD.css" rel="stylesheet" />
    <link href="~/Resources/CSS/GameLayout.css" rel="stylesheet" />
    @*===============================================*@
    @*===================Libraries===================*@
    @*===============================================*@
    @*jQuery*@
    <script src="~/Resources/Scripts/Libraries/jquery-2.1.0.js"></script>

    @*===============================================*@
    @*==================Javascript===================*@
    @*===============================================*@
    @*Exceptions*@
    <script src="~/Resources/Scripts/Entities/Exceptions/InvalidOperationException.js"></script>
    <script src="~/Resources/Scripts/Entities/Exceptions/NotImplementedException.js"></script>
    @*Primitives*@
    <script src="~/Resources/Scripts/Entities/Primitives/Miltiplier.js"></script>
    <script src="~/Resources/Scripts/Entities/Primitives/Offset.js"></script>
    <script src="~/Resources/Scripts/Entities/Primitives/Point.js"></script>
    <script src="~/Resources/Scripts/Entities/Primitives/Vector.js"></script>
    <script src="~/Resources/Scripts/Entities/Primitives/Rectangle.js"></script>
    <script src="~/Resources/Scripts/Entities/Primitives/ScreenRectangle.js"></script>
    <script src="~/Resources/Scripts/Entities/Primitives/Size.js"></script>
    <script src="~/Resources/Scripts/Entities/Sizes.js"></script>
    @*Objects*@<script src="~/Resources/Scripts/Entities/Objects/GameObject.js"></script>
    <script src="~/Resources/Scripts/Entities/PlayerPresentation.js"></script>
    <script src="~/Resources/Scripts/Entities/Player.js"></script>

    @*<script src=""></script>*@

    @*Game entities*@
    <script src="~/Resources/Scripts/Entities/Game/Team.js"></script>
    <script src="~/Resources/Scripts/Entities/Game/TeamType.js"></script>
    <script src="~/Resources/Scripts/Entities/Game/Map.js"></script>
    <script src="~/Resources/Scripts/Entities/Game/GamePhase.js"></script>
    <script src="~/Resources/Scripts/Entities/Game/GameInfo.js"></script>

    @*Weapons*@
    <script src="~/Resources/Scripts/Entities/Weapons/WeaponType.js"></script>
    <script src="~/Resources/Scripts/Entities/Weapons/WeaponMode.js"></script>
    <script src="~/Resources/Scripts/Entities/Weapons/WeaponsInfo.js"></script>
    <script src="~/Resources/Scripts/Entities/Weapons/Weapon.js"></script>

    @*HUD*@
    <script src="~/Resources/Scripts/Entities/HUD/StatusHUD.js"></script>
    <script src="~/Resources/Scripts/Entities/HUD/WeaponHUD.js"></script>
    <script src="~/Resources/Scripts/Entities/HUD/WeaponHUDCell.js"></script>
    <script src="~/Resources/Scripts/Entities/HUD/GameStatsHUD.js"></script>

    @*Variables*@
    <script src="~/Resources/Scripts/Variables.js"></script>

    @*Handlers and Helpers*@
    <script src="~/Resources/Scripts/Helpers.js"></script>
    <script src="~/Resources/Scripts/Handlers.js"></script>
    <script src="~/Resources/Scripts/Loader.js"></script>
    <script src="~/Resources/Scripts/Calculations.js"></script>

    @*Rendering*@
    <script src="~/Resources/Scripts/Rendering.js"></script>

    @*Cycles*@
    <script src="~/Resources/Scripts/RefreshCycle.js"></script>

    @*Game Starter*@
    <script src="~/Resources/Scripts/GameStart.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
