<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*Network*@
    <script src="~/Resources/Scripts/NetworkProcesses.js"></script>

    @*===============================================*@
    @*======================CSS======================*@
    @*===============================================*@
    <link href="~/Resources/CSS/Reset.css" rel="stylesheet" />
    <link href="~/Resources/CSS/Fonts.css" rel="stylesheet" />
    <link href="~/Resources/CSS/HUD.css" rel="stylesheet" />
    <link href="~/Resources/CSS/GameLayout.css" rel="stylesheet" />
    @*===============================================*@
    @*===================Libraries===================*@
    @*===============================================*@
    @*jQuery*@
    <script src="~/Resources/Scripts/Libraries/jquery-2.1.0.js"></script>

    @*===============================================*@
    @*==================Javascript===================*@
    @*===============================================*@
    @*Exceptions*@
    <script src="~/Resources/Scripts/Entities/Exceptions/InvalidOperationException.js"></script>
    <script src="~/Resources/Scripts/Entities/Exceptions/NotImplementedException.js"></script>

    
    @*Sound managers*@
    <script src="~/Resources/Scripts/Libraries/howler.js"></script>
    <script src="~/Resources/Scripts/SoundsManagers/Announcer.js"></script>
    <script src="~/Resources/Scripts/SoundsManagers/PlayerAnnouncerStates.js"></script>
    <script src="~/Resources/Scripts/SoundsManagers/WeaponsSoundBundle.js"></script>
    <script src="~/Resources/Scripts/SoundsManagers/PlayerSounds.js"></script>

    @*Primitives*@
    <script src="~/Resources/Scripts/Entities/Primitives/Miltiplier.js"></script>
    <script src="~/Resources/Scripts/Entities/Primitives/Offset.js"></script>
    <script src="~/Resources/Scripts/Entities/Primitives/Point.js"></script>
    <script src="~/Resources/Scripts/Entities/Primitives/Vector.js"></script>
    <script src="~/Resources/Scripts/Entities/Primitives/Rectangle.js"></script>
    <script src="~/Resources/Scripts/Entities/Primitives/ScreenRectangle.js"></script>
    <script src="~/Resources/Scripts/Entities/Primitives/Size.js"></script>
    <script src="~/Resources/Scripts/Entities/Sizes.js"></script>

    @*Objects*@
    <script src="~/Resources/Scripts/Entities/Objects/GameObject.js"></script>
    <script src="~/Resources/Scripts/Entities/PlayerPresentation.js"></script>    
    <script src="~/Resources/Scripts/Entities/Player.js"></script>


    @*Game states*@
    <script src="~/Resources/Scripts/Entities/MessageTypes/StateToSend.js"></script>
    <script src="~/Resources/Scripts/Entities/MessageTypes/WaitingStateToSend.js"></script>
    <script src="~/Resources/Scripts/Entities/MessageTypes/PlayStateToSend.js"></script>

    @*Animations*@
    <script src="~/Resources/Scripts/Animation/Animation.js"></script>
    <script src="~/Resources/Scripts/Animation/AnimationManager.js"></script>
    <script src="~/Resources/Scripts/Animation/Animations/AsmdBlastAnimation.js"></script>
    <script src="~/Resources/Scripts/Animation/Animations/AsmdBigBlastAnimation.js"></script>

    @*Shells*@
    <script src="~/Resources/Scripts/Shells/ShellManager.js"></script>
    @*Blasts*@
    <script src="~/Resources/Scripts/Shells/BlastType.js"></script>
    <script src="~/Resources/Scripts/Shells/BlastManager.js"></script>

    @*Game entities*@
    <script src="~/Resources/Scripts/Entities/Game/MessageTypes/WaitingGamePhaseHandler.js"></script>
    <script src="~/Resources/Scripts/Entities/Game/MessageTypes/CountdownGamePhaseHandler.js"></script>
    <script src="~/Resources/Scripts/Entities/Game/MessageTypes/PlayGamePhaseHandler.js"></script>

    <script src="~/Resources/Scripts/Entities/Game/Team.js"></script>
    <script src="~/Resources/Scripts/Entities/Game/TeamType.js"></script>
    <script src="~/Resources/Scripts/Entities/Game/Map.js"></script>
    <script src="~/Resources/Scripts/Entities/Game/GamePhase.js"></script>
    <script src="~/Resources/Scripts/Entities/Game/GamePhaseHandler.js"></script>
    <script src="~/Resources/Scripts/Entities/Game/WaitingGamePhaseHandler.js"></script>
    <script src="~/Resources/Scripts/Entities/Game/CountdownGamePhaseHandler.js"></script>
    <script src="~/Resources/Scripts/Entities/Game/PlayGamePhaseHandler.js"></script>

    <script src="~/Resources/Scripts/Entities/Game/GameInfo.js"></script>

    @*Weapons*@
    <script src="~/Resources/Scripts/Entities/Weapons/WeaponType.js"></script>
    <script src="~/Resources/Scripts/Entities/Weapons/WeaponMode.js"></script>
    <script src="~/Resources/Scripts/Entities/Weapons/Weapon.js"></script>
    <script src="~/Resources/Scripts/Entities/Weapons/Shot.js"></script>
    <script src="~/Resources/Scripts/Entities/Weapons/PlayerMunitions.js"></script>
    <script src="~/Resources/Scripts/Entities/Weapons/ClientWeaponManager.js"></script>

    @*HUD*@
    <script src="~/Resources/Scripts/Entities/HUD/BasicHUD.js"></script>
    <script src="~/Resources/Scripts/Entities/HUD/StatusHUD.js"></script>
    <script src="~/Resources/Scripts/Entities/HUD/WeaponHUD.js"></script>
    <script src="~/Resources/Scripts/Entities/HUD/WeaponHUDCell.js"></script>
    <script src="~/Resources/Scripts/Entities/HUD/GameStatsHUD.js"></script>

    @*Variables*@
    <script src="~/Resources/Scripts/Variables.js"></script>

    @*Handlers and Helpers*@
    <script src="~/Resources/Scripts/Helpers.js"></script>
    <script src="~/Resources/Scripts/Handlers.js"></script>
    <script src="~/Resources/Scripts/Loader.js"></script>
    <script src="~/Resources/Scripts/Calculations.js"></script>

    @*Rendering*@
    <script src="~/Resources/Scripts/Rendering.js"></script>

    @*Cycles*@
    <script src="~/Resources/Scripts/RefreshCycle.js"></script>

    @*Game Starter*@
    <script src="~/Resources/Scripts/GameStart.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>

    @*Audio*@
    <audio id="level-theme" controls="controls" style="display: none" loop="loop" autoplay="autoplay" />
</body>
</html>
