<div id="player-status">
    <div class="cell-info">
        <p id="hp-string">HP</p>
        <p id="hp-value">67</p>
        <p id="armour-string">Arm</p>
        <p id="armour-value">50</p>
    </div>
</div>

<div id="weapon-cells-wrapper">
    <div class="cell-info visible">
        <div id="impact-hammer" class="weapon-cell">
            <label>1</label>
        </div>
    </div>
    <div class="cell-info active-cell visible">
        <div id="enforcer-cell" class="weapon-cell">
            <label>2</label>
            <p id="enforcer-ammo">20</p>
        </div>
    </div>
    <div class="cell-info visible">
        <div id="bio-rifle-cell" class="weapon-cell deactivated">
            <label>3</label>
            <p id="bio-rifle-ammo">50</p>
        </div>
    </div>
    <div class="cell-info visible">
        <div id="shock-rifle-cell" class="weapon-cell">
            <label>4</label>
            <p id="shock-rifle-ammo">18</p>
        </div>
    </div>
    <div class="cell-info visible">
        <div id="link-gun-cell" class="weapon-cell">
            <label>5</label>
            <p id="link-gun-ammo">40</p>
        </div>
    </div>
    <div class="cell-info visible">
        <div id="minigun-cell" class="weapon-cell">
            <label>6</label>
            <p id="minigun-ammo">100</p>
        </div>
    </div>
    <div class="cell-info visible">
        <div id="flak-cannon-cell" class="weapon-cell deactivated">
            <label>7</label>
            <p id="flak-cannon-ammo">6</p>
        </div>
    </div>
    <div class="cell-info visible">
        <div id="rocket-launcher-cell" class="weapon-cell">
            <label>8</label>
            <p id="rocket-launcher-ammo">4</p>
        </div>
    </div>
    <div class="cell-info visible">
        <div id="sniper-rifle-cell" class="weapon-cell">
            <label>9</label>
            <p id="sniper-rifle-ammo">6</p>
        </div>
    </div>
</div>

<div id="game-stats">
    <div class="game-stats-header"><!--
     --><div class="game-stats-left-column">Nickname</div><!--
     --><div class="game-stats-right-column">Score</div><!--
 --></div>
    <div class="game-stats-body"></div>
</div>
