<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @*Styles*@
    <link href="~/Resources/CSS/Reset.css" rel="stylesheet" />
    <link href="~/Resources/CSS/Fonts.css" rel="stylesheet" />

    @*===============================================*@
    @*===================Libraries===================*@
    @*===============================================*@
    @*jQuery*@
    <script src="~/Resources/Scripts/Libraries/jquery-2.1.0.js"></script>

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
